@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-primary: #0d59f2; /* Electric Blue */
  --color-brutal: #ef4444; /* Red */
  --color-chunky: #f59e0b; /* Amber */
  --color-champagne: #10b981; /* Green */
  
  --color-bg-dark: #101622;
  --color-bg-panel: #161e2e;
}

body {
  background-color: var(--color-bg-dark);
  color: white;
  font-family: var(--font-display);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #101622; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
